.checkbox{
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    grid-gap: .5rem;
    padding: 1rem 0;
   
    &__label{
        text-align: left;
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    }
}