$color-default: rgba(121, 71, 38, 1);
$title-color-default: #4d4d4d;
$font-default: "font-family: 'Montserrat', sans-serif";
$subtitle-color_default: rgba(77, 77, 77, 1);
$title-color-default: #4d4d4d;
$border-bottom-default: rgba(148, 148, 153, 0.27);


